@import url('https://fonts.googleapis.com/css?family=Caladea|Lato|Open+Sans|Roboto&display=swap');

body {
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    font-family: 'Caladea', serif;

    font-size: 16px;
    
}

a:hover {
    color: hotpink;
}

tr:last-of-type td{
    padding-bottom: 120px;
}

p > i {
    background-color: lightcoral;
}

.chapter h2 {
    border-bottom: 2px solid black;
    width: 20vw;
    margin: auto;
}

blockquote p {
    hanging-punctuation: first;
  }
  

p+p {
    text-indent: 2.2em;
}

h4 ~ hr {
    display: none;
}

h2 ~ hr {
    display: none;
}

p:first-child {
    font-family: ;
}

ul, ol {
    padding-left: 0;
    list-style-position: outside;
  }

p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 20px;
    max-width: 70vw;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    max-width: 55vw;
  }

  h2 + p::first-letter {
    font-size: 2em;
    /*font-size:4em;
    initial-letter: 1.5;
    float: left; */
}

 

  p:nth-of-type(5n), p:nth-of-type(7n){
      padding-right: 0vw;
      padding-left: 20vw;
  }

  p:nth-child(3n), p:nth-child(6n){
      padding-right: 0vw;
      padding-left: 10vw;
  }


pre:first-child {
    display: none;
}

pre:last-of-type {
    display: none;
}

table {
    font-family: 'Caladea', serif;
    font-size: smaller;
    line-height: 10px;
    margin-left: 150px;
    margin-bottom: 30px;
}

h1, h2, h4, h5 {
    text-align: center;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 40px;
}

h5 {
    font-size: larger;
    margin-top: 40px;
}



img {
    width: 50vw;
    margin: auto;
    display: block;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 100px;
}

* {
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 27px; // = 1 × 27px
  }
  
  p.asterism {
      text-indent: 0;
      padding-left: 0;
      text-align: center;
      line-height: normal;
      margin-top: auto;
      margin-bottom: auto;
  }

  .poem {
      text-align: left;
  }

  /* ----------- SMART PHONES ----------- */
@media only screen and (max-width: 800px) {
    p{
        margin: auto;
            margin-top: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-left: auto;
        padding: 0;
            padding-top: 0;
            padding-right: 0vw;
            padding-bottom: 0;
            padding-left: 0;
        font-size: .75em;
        color: black;
        font-family: 'Grenze', serif;
        width: 80vw;
        max-width: 600px;
        line-height: 1.5em;
        letter-spacing: 1px;
    }
    p::first-letter {
        font-size: 2em;
    }
    
    p:nth-of-type(5n), p:nth-of-type(6n){
        padding-right: 0vw;
        padding-left: 0vw;
        margin-bottom: 70px;
    }

    .footnote, .fnanchor{
        display: none;
    } 

    h4{
        width: 400px;
    }

    .chapter h2 {
        border-bottom: 2px solid black;
        width: 40vw;
        margin: auto;
        margin-bottom: 15px;
    }

    h1, h2, h4, h5 {
        text-align: center;
        font-size: 1.2em;
        margin: auto;
    }
    
    h1 {
        font-size: 2.5em;
        line-height: 40px;
        margin-bottom: 40px;
    }
    
    h5 {
        font-size: larger;
        margin-top: 40px;
    }
}

/* ----------- TABLETS ----------- */
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    p{
        margin: auto;
            margin-top: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-left: auto;
        padding: 0;
            padding-top: 0;
            padding-right: 30vw;
            padding-bottom: 0;
            padding-left: 0;
        font-size: .9em;
        color: black;
        font-family: 'Grenze', serif;
        width: 60vw;
        max-width: 600px;
        line-height: 1.4em;
        letter-spacing: 1px;
    }
    p::first-letter {
        font-size: 2em;
    }
    
    .chapter h2 {
        border-bottom: 2px solid black;
        width: 30vw;
        margin: auto;
        margin-bottom: 15px;
    }

    h1, h2, h4, h5 {
        text-align: center;
        font-size: 1.3em;
        margin: auto;
    }
    
    h4 {
        margin-top: 8px;
    }

    h1 {
        font-size: 2.3em;
        line-height: 40px;
        margin-bottom: 40px;
    }

    p:nth-of-type(5n), p:nth-of-type(6n){
        padding-right: 0vw;
        padding-left: 30vw;
        margin-bottom: 70px;
    }

    .footnote, .fnanchor{
        display: none;
    } 
}