@import url('https://fonts.googleapis.com/css?family=Caladea|Lato|Open+Sans|Roboto&display=swap');

body {
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' ;

    font-size: 16px;
    
}

p {
    margin: 0 auto;
    text-align: left;
    line-height: 20px;
    max-width: 70vw;
  }

pre {
    font-family: 'Lato' ;
    text-align: center;
    font-size: 10px;
}

h1, h2, h4 {
    text-align: center;
    font-family: 'Caladea' ;
}

img {
    width: 50vw;
    margin: auto;
    display: block;
}